body {
    background-image: url('../image/sal3-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: white;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    top: 0;
}

a {
    font-family: Arial;
    text-decoration: none;
}

nav ul a:hover {
    border-radius: 20px;
    background-color: rgb(245, 154, 154);
    color: grey;
    font-weight: bold;
    letter-spacing: 3px;
}

h2 {
    color: orange;
}

h2:hover {
    color: rgb(254, 254, 254);
}

.ms {
    margin-top: 100px;
}

.dd {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent;
    margin-top: 30px;
}

footer {
    background-color: transparent;
}